<html>
<head>
</head>
<body ng-app="myApp" ng-controller="testCtrl">
<h1>
{{helloMessage}}</h1>

<div class="input-group search-bar">
  <input type="text" 
         ng-model="search" 
         placeholder="Enter city name" />

  
</div>


{{search}}

<div ng-if="response.Response!=='False'">
  Related Results:<hr>

  <ul class="rel-results">
    <li ng-repeat="city in res">
       {{city}}
    </li>
  </ul>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js">//Antoine </script>
<script type="text/javascript">
var myApp = angular.module('myApp',['ngCookies']);

myApp.controller('testCtrl',['$scope','$http','$cookies', function($scope,$http,$cookies) {//Antoine
	$scope.helloMessage="Hello World";
	$scope.key = "a22ea50f7ac900659eb83725cf4a6d4e";
	var now = new Date(), exp = new Date(now.getFullYear(), now.getMonth()+1, now.getDate());
	$scope.search=$cookies.get('City');//Antoine (je gere le fait qu'il soit vide plus loin)
	$scope.$watch('search', function() {
		$scope.fetch();
	});
	$scope.url= "http://api.openweathermap.org/data/2.5/weather?q=" + $scope.search + "&APPID=" + $scope.key;
	$scope.fetch = function(){
		$scope.url= "http://api.openweathermap.org/data/2.5/weather?q=" + $scope.search + "&APPID=" + $scope.key;
		if ($scope.search!=null && $scope.search!="") {
			$cookies.put('City',$scope.search,{ expires : exp});//Antoine : ici je donne la valeur de la recherche au cookie avant de faire la requete
			$http.get($scope.url)
			.then(function(response){ $scope.res = response.data;
			$scope.status= response.status;},
			function errorCallback(response) {
				alert(response.status);
			});
		}
	}
}]);
</script>
</body>
</html>