<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<title>Weather webapp</title>
<style>
.table td,
.table th {
	text-align: center;
	vertical-align: middle !important;
}

.affix {
    position: fixed;
    display:block;
	float : center;
    margin: auto;
}

body {
	background-image:url(background.png);
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.table-striped>tbody>tr:nth-child(even)>td {
   background-color: #879BD4; // Choose your own color here
 }

th {
    background-color: #60D6B9;
    color: white;
}

.form-control {
	color: #787A7A;
}

.h1 {
	color: #C99534;
}
 
</style>
</head>
<body ng-app="myApp" ng-controller="testCtrl">
<div class="container">

<form class="form-inline form-horizontal" data-spy="affix" style="z-index: 50">

  <input type="text" 
         ng-model="search" 
		 ng-model-options="{debounce : 1000}"
         placeholder="Location"
		 data-toggle="tooltip" 
		 title="Format : [city name] OR [city name,country code] OR [latitude;longitude]"  
		 name="search"
		 class="form-control input"/>

  
<select ng-model="language" class="form-control select">
<option value="en">English</option>
<option value="ru">Russian</option>
<option value="it">Italian</option>
<option value="uk">Ukrainian</option>
<option value="de">German</option>
<option value="pt">Portuguese</option>
<option value="ro">Romanian</option>
<option value="pl">Polish</option>
<option value="fi">Finnish</option>
<option value="nl">Dutch</option>
<option value="fr">French</option>
<option value="bg">Bulgarian</option>
<option value="sv">Swedish</option>
<option value="zh_tw">Chinese Traditional</option>
<option value="zh">Chinese Simplified</option>
<option value="tr">Turkish</option>
<option value="hr">Croatian</option>
<option value="ca">Catalan</option>
</select>

<select ng-model="format" class="form-control select">
<option value="metric">Metric</option>
<option value="imperial">Imperial</option>
</select>


<select ng-model="forecast" class="form-control select">
<option value="1">One day</option>
<option value="3">Three days</option>
<option value="5">Five days</option>
</select> 



</form>


<br><br>

<div ng-if="search!=null && search!='' && search!='undefined'">
<center><p class="h1">{{res1.data.name}}, {{res1.data.sys.country}} ({{res1.data.coord.lat}}/{{res1.data.coord.lon}})</p><center><br><br>
<table class="table table-bordered table-striped" >
	<thead>
		<tr>
			<th>Date and time 
			<span id="dateInfo" class="glyphicon glyphicon-info-sign" aria-hidden="true" title="UTC" style="float:right"></span> 
			</th>
			<th>Weather </th>
			<th>Temp | min | max 
			<span id="tempInfo" class="glyphicon glyphicon-info-sign" aria-hidden="true" title="°C or °F" style="float:right"></span>
			</th>
			<th>Humidity</th>
			<th>Pressure
			<span id="pressureInfo" class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Sea level/ground level in hPa" style="float:right"></span>
			</th>
			<th>Wind 
			<span id="windInfo" class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Speed (m/s or mph), direction (degrees)" style="float:right"></span>
			</th>
			<th>Clouds</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>Now</td>
			<td> <img src='icons/{{res1.data.weather[0].icon}}.png'>{{res1.data.weather[0].description}} </td>
			<td>{{res1.data.main.temp}} | {{res1.data.main.temp_min}} | {{res1.data.main.temp_max}}</td>
			<td>{{res1.data.main.humidity}}%</td>
			<td>{{res1.data.main.pressure}} | {{res1.data.main.grnd_level}}</td>
			<td>{{res1.data.wind.speed}} | {{res1.data.wind.deg}}</td>
			<td>{{res1.data.clouds.all}}%</td>
		</tr>
		<tr ng-repeat="n in arrayGen">
			<td>{{res2.data.list[n].dt_txt}}</td>
			<td> <img src='icons/{{res2.data.list[n].weather[0].icon}}.png'>{{res2.data.list[n].weather[0].description}} </td>
			<td>{{res2.data.list[n].main.temp}} | {{res2.data.list[n].main.temp_min}} | {{res2.data.list[n].main.temp_max}}</td>
			<td>{{res2.data.list[n].main.humidity}}%</td>
			<td>{{res2.data.list[n].main.pressure}} | {{res2.data.list[n].main.grnd_level}}</td>
			<td>{{res2.data.list[n].wind.speed}} | {{res2.data.list[n].wind.deg}}</td>
			<td>{{res2.data.list[n].clouds.all}}%</td>
		</tr>
	</tbody>
</table>


</div>
</div>

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"> </script>
<script type="text/javascript">
var myApp = angular.module('myApp',['ngCookies']);

myApp.controller('testCtrl',['$scope','$http','$cookies', function($scope,$http,$cookies) {
	$scope.helloMessage="Hello World";
	$scope.language="en";
	$scope.format="metric";
	$scope.forecast="1";
	$scope.key = "a22ea50f7ac900659eb83725cf4a6d4e";
	var now = new Date(), exp = new Date(now.getFullYear(), now.getMonth()+1, now.getDate());
	$scope.search=$cookies.get('Location');
	
	$('input[name=search]').tooltip({
    placement: "bottom",
    trigger: "hover",
    });
	
	$('span[id=dateInfo]').tooltip({
    placement: "top",
    trigger: "click",
    });
	
	$('span[id=weatherInfo]').tooltip({
    placement: "top",
    trigger: "click",
    });
	
	$('span[id=tempInfo]').tooltip({
    placement: "top",
    trigger: "click",
    });
	
	$('span[id=pressureInfo]').tooltip({
    placement: "top",
    trigger: "click",
    });
	
	$('span[id=windInfo]').tooltip({
    placement: "top",
    trigger: "click",
    });
	

	
	$scope.$watch('search', function() {
		$scope.fetch();
	});
	
	
	$scope.$watch('language', function() {
		$scope.fetch();
	});
	
	$scope.$watch('format', function() {
		$scope.fetch();
	});
	
	$scope.$watch('forecast', function() {
		$scope.fetch();
	});
	
	$scope.fetch = function(){
		if ($scope.search!=null && $scope.search!="") 
		{   $cookies.put('Location',$scope.search,{ expires : exp});
			$scope.urlCurrent = "http://api.openweathermap.org/data/2.5/weather?";
			$scope.urlForecast = "http://api.openweathermap.org/data/2.5/forecast?";
			var firstChar = $scope.search.substring(0, 1);
			if (isNaN(firstChar)) {
				$scope.urlTemp = "q=" + $scope.search;
			}
			else {
				var num = $scope.search.indexOf(';');
				$scope.lat = $scope.search.substring(0,num);
				//The only problem occurring with spaces is when it's placed right after the ;, so to prevent that we delete these ones : 
				while ($scope.search.charAt(num+1)==" ") {$scope.search = $scope.lat + ";" + $scope.search.substring(num+2);}
				$scope.lon = $scope.search.substring(num+1);
				$scope.urlTemp = "lat=" + $scope.lat + "&lon=" + $scope.lon;
			}
			$scope.urlTemp +=  "&APPID=" + $scope.key + "&lang=" + $scope.language + "&units=" + $scope.format;
			$scope.urlCurrent += $scope.urlTemp;
			$scope.urlForecast += $scope.urlTemp;
			
			$http.get($scope.urlCurrent)
			.then(function(response){ $scope.res1 = response;
			$scope.status1= response.status;},
			function errorCallback(response) {
				alert(response.status);
			});
			
			$http.get($scope.urlForecast)
			.then(function(response){ $scope.res2 = response;
			$scope.status2= response.status;},
			function errorCallback(response) {
				alert(response.status);
			});
			
			$scope.limit=Number($scope.forecast);
			$scope.arrayGen=[];
			for (i=0;i<8*$scope.limit;i++)
				$scope.arrayGen.push(i);
			
		}
	}
}]);
</script>
</body>
</html>